<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- please adjust the connection string embedded in the element below to target the proper catalog / server using the proper user / password combination -->
		<add name="ConnectionString.SQL Server (SqlClient)" connectionString="metadata=res://*/HIMS.csdl|res://*/HIMS.ssdl|res://*/HIMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=HIMSDB;User ID=sa;Password=;persist security info=False;packet size=4096&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration> 